@page {
  margin: 1in;
  size: letter;

  @top-left {
    content: element(header);
    font-family: "LM Roman 12", "Times New Roman", serif;
    font-size: 12pt;
  }

  @top-right {
    content: counter(page);
    font-family: "LM Roman 12", "Times New Roman", serif;
    font-size: 12pt;
  }
}

@page:first {
  @top-left {
    content: element(short-title);
    font-family: "LM Roman 12", "Times New Roman", serif;
    font-size: 12pt;
  }
}

@media screen {
  /* Dark mode and tweaks to make the browser version look like a paper */

  html {
    background-color: #222;
    color: white;
  }
  
  a {
    font-weight: lighter;
    text-decoration: none;
    color: white;
  }

  body {
    margin: 1in 0;
  }

  main {
    max-width: 6.5in;
    margin: 0 auto;
  }

  header {
    display: none;
  }
}

@media print {
  html, body {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: black;
  }

  header#short-title {
    position: running(short-title);
  }

  header#running {
    position: running(header);
  }

  #title-page {
    prince-bookmark-label: "Title Page";
    prince-bookmark-level: 1;
  }

  article {
    prince-bookmark-level: 1;
    prince-bookmark-label: attr(title);
  }

  #main-references {
    page-break-before: always;
  }

  #main-references h1 {
    prince-bookmark-level: 1;
  }
}

html {
  font-family: "LM Roman 12", "Times New Roman", serif;
  font-size: 12pt;
  line-height: 2;
  font-variant-ligatures: normal;
  hyphens: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 12pt;
  font-weight: normal;
  margin: 0;
  prince-bookmark-level: none;
}

h1, h2, h3 {
  page-break-after: avoid;
}

h1 {
  text-align: center;
}

/* Header tags h2-h6 implement the five levels of APA sectioning headings.
 * Note that h4-h6 are inline headers; this requires raw HTML <p> and <h*>
 * tags in the Markdown source. Also, use .no-break-inside to avoid breaking
 * inside the first paragraph of a subsubsection or below.
 * */

h2 {
  text-align: center;
  font-weight: bold;
}

h3 {
  text-align: left;
  font-weight: bold;
  text-indent: 0;
}

h4 {
  display: inline;
  font-weight: bold;
  padding-left: 0.5in;
}

h5 {
  display: inline;
  font-weight: bold;
  font-style: italic;
  padding-left: 0.5in;
}

h6 {
  display: inline;
  font-weight: normal;
  font-style: italic;
  padding-left: 0.5in;
}

.no-break-inside {
  page-break-inside: avoid;
}

#title-page address {
  font-style: normal;
}

#title-page address p {
  text-align: center;
  text-indent: 0;
}

#short-heading-block address {
  font-style: normal;
}

#short-heading-block address p {
  text-align: left;
  text-indent: 0;
}

p {
  text-indent: 0.5in;
  margin: 0;
  widows: 2;
  orphans: 2;
  text-align: left;
}

blockquote {
  margin: 0;
  margin-left: 0.5in;
}

blockquote p:first-of-type {
  text-indent: 0;
}

.man-page-br {
  display: block;
  page-break-after: always;
}

#title-page {
  height: 9in;
  page: first;
}

.title-page-half {
  height: 4.5in;
  display: flex;
  align-items: center;
  justify-content: center;
}

#references p {
  padding-left: 0.5in;
  text-indent: -0.5in;
}
